@import "vars";

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font;
  font-size: 16px;
  color: #000;
}

a {
  text-decoration: none;
  color: $color-primary;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
    color: darken($color-primary, 5%);
  }
}
.home-content {
  .container {
    .list {
      display: flex;
      flex-direction: column;
      text-align: center;

      .list__items {
        background-color: rgb(115, 141, 141);
        margin: 5px;
        padding: 15px;
        color: yellow;
        text-transform: uppercase;
        font-weight: bold;
      }
      .list__items:first-child {
        background-color: rgb(41, 202, 127);
        color: rgb(255, 255, 255);
      }
    }
  }
}

@import "global/header";
@import "global/footer";

@import "pages/homepage";
@import "pages/about";
